In [1]:
import pandas as pd
import os

In [2]:
df_path = '/Users/francesco.padovani/Library/CloudStorage/GoogleDrive-padovaf@tcd.ie/My Drive/01_Postdoc_HMGU/Python_MyScripts/MIA/Git/ChromRings/data/1_test_3D_vs_2D_01-02-2023/3D_seg/fed/Position_1/Images/DCW153- fed- _s01_acdc_output.csv'

In [3]:
df = pd.read_csv(df_path)

In [5]:
df[['frame_i', 'Cell_ID', 'my_new_annotation']]

    frame_i  Cell_ID  my_new_annotation
0         0        1                  0
1         0        2                  0
2         0        3                  0
3         0        4                  0
4         0        5                  0
5         0        6                  0
6         0        7                  0
7         0        8                  0
8         0        9                  0
9         0       10                  1
10        0       11                  1
11        0       12                  1